@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Serif:ital@1&display=swap');

/* Style the navigation bar */

ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
}

.topnav {
  background: rgba(0,0,0,.5)
  overflow: hidden; 
}
.topnav li
{
  text-align: center;
  border-bottom: 1px solid rgb(0, 0, 0);
	
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
  background-color:#438D80 ;
  color: black;
}






/* First heading page */


body
{
	margin :0;
	padding:0;
	font-family: 'Itim', cursive;
    font-family: 'Noto Serif', serif;
	background-color:black;
	
	
}

section
{
	width: 100%;
	height:100vh;
	background: url(workshop1.jpg);
	background-size: cover;
	
	
		
}

/*HEAD */

section .headbox
{
	width: 100%;
	height: 200%;
	float: center;
	padding: 100px;
	box-sizing: border-box;
	
}
section .headbox h1
{
	padding:30px;
	
	
}
section .headbox .content
{
	color:#fff;
	background: rgba(0,0,0,.5);
	padding: 100px;
	transition: .5s;
	text-align: center;
	line-height: 250%;
	text-decoration: none;
	text-decoration-line: none;
    
	
	
}

/*

section .headbox .content:hover
{
	background :#438D80 ;
	opacity: 0.8;
}
*/

section .headbox .content h1
{
	margin:0;
	padding : 0;
	font-size: 60px;
	text-transform: uppercase;
	text-decoration: none;
	
}

section .headbox .content p
{
	margin: 10px 0 0;
	padding: 0;
	text-decoration: none;
	font-size: 20px;
	
}
	
	
	
/* About section */
section .aboutus
{
	width: 90%;
    font-size: 140%;
    background-color: black;
    color: white;
    position: absolute;
	top: 130%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}

section .aboutus h1
{
	box-sizing: border-box;
	font-size: 200%;
	
}
	
	


/* EVENTS BARS*/

/* Heading "Workshop" */
section .eventheading
{
 
    width: 90%;
    font-size: 200%;
    background-color: black;
    color: white;
    position: absolute;
	top: 170%;
	left: 50%;
	transform: translate(-50%,-50%);

}
/*Events bars (for all 6 tabs>) */

section .events
{
	position: relative;
	width: 90%;
	height: 90%;
	background: rgba(0,0,0,.5); 
	background-color: #fff;
	float: center;
	box-sizing: border-box;
	color:white;
	left: 4%;
	
	
	
	
}
section .events ul 
{
	position: absolute;
	top: -45%;
	height: 200px;
	margin: 15px 0;
	transform: translateY(-50%);
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
}

section .events ul li 
{
	list-style: none;
	background:black;
	box-sizing: border-box;
	height: 200px;
	margin: 15px 0;

	
	
}
section .events ul li:hover 
{
	background: #438D80;
	
}
section .events ul li .time
{
	position: relative;
	padding: 20px;
	background: #262626;
	box-sizing: border-box;
	width: 30%;
	height: 100%;
	float: left;
	text-align: center;
	transition: .5s;
}
/*
section .events ul li:hover .time
{
	background: #438D80;
}
*/
section .events ul li .time h2
{
	position: absolute;
	margin: 0;
	padding: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 60px;

}
section .events ul li .time h2 span
{
	font-size: 30px;
	
}
section .events ul li .details
{
	padding: 20px;
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	float: left;
	border: 2px solid #262626
	
}
section .events ul li .details h3
{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 22px;
}	
section .events ul li .details p
{
	position: relative;
	margin: 10px 0 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
}	
section .events ul li .details a
{
	display: inline-block;
	text-decoration: none;
	padding: 10px 15px;
	margin-top: 15px;
	font-size: 18px;
	transition: .5s;
	
}
section .events ul li .details a:hover{
	background: black;
	color: #fff;
	border-color: #438D80;
	
}

/*Contact session */

section .contact 
{

    font-size: 140%;
    background-color: black;
    color: white;
    position: absolute;
	top: 130%;
	left: 50%;
	transform: translate(-50%,-50%);
	bottom :0;	
	padding: 40px;
		
	
}
section .contact h1{
	
    font-size: 200%;		

}

section .contact p
{
	
    font-size: 100%;	
	
}
	
	


